.parent {
  width: 100%;
  background-color: lightgrey;
  position: fixed;
  padding: 20px 10px;
}
.head {
  display: flex;
  justify-content: center;
}
.box_1 {
  background-color: blanchedalmond;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.main {
  display: flex;
  min-height: 60px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: auto;
}
.more {
  background: rgb(246, 217, 163);
  display: flex;
  margin: 100px 100px;
}
.box_2 {
  background: rgb(246, 217, 163);
  display: flex;
  margin: 100px;
}
.side {
  display: flex;
  background-color: rgba(191, 246, 191, 0.836);
  min-height: 60px;
  width: 40%;
  padding: 20px;
}
.footer {
  display: flex;
  justify-content: space-around;
  background: rgb(242, 239, 239);
  height: 100px;
  width: 100%;
}
